<!doctype html>
<html lang="en" translate="no">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicon.png">
    <link rel="stylesheet" href="css/index.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179090551-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-179090551-1');
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
      </header>

      {{ content }}

      <footer>
      </footer>
    </div>
  </body>
  <script>
    function copyToClipboard(elem) {
      var copyText = elem.value;
      navigator.clipboard.writeText(copyText).then(() => alert('Copied to Clipboard!'));
    }

    window.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('.accounts .account').forEach((account) => {
        account.addEventListener('click', (event) => {
          if (url = event.currentTarget.dataset.url) {
            window.open(url);
          } else {
            var i = account.querySelector('input');
            copyToClipboard(i);
          }
        });
      });
    });
  </script>
</html>
